{%extends 'cheques/base.html' %}
{%block title%}Asociar un Banco{%endblock title%}


{%block content %}

{%if form.errors%}
<div class="alert alert-danger" role="alert">
*Hubo un Error en el Formulario / *Revisa la informacion ingresada
</div>
{%endif%}

<!-- <section class="content"> -->
    <div class="container-fluid">
        <div class="block-header">

        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                                Asocia un Banco
                            <small>tener bancos asociados te ayudara a las proximas cuentas personales que asocies</small>
                        </h2>
                    </div>
                    <div class="body">
                        <form action="{%url "crear_institucion"%}" method="POST">
                          {%csrf_token%}
                        <h2 class="card-inside-title">Informacion del Banco</h2>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="institucion" class="form-control" placeholder="Nombre del Banco" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Guardar!</button>

                      </div>
                    </div>
                </div>
            </div>
        </div>


{%endblock content%}
