<!DOCTYPE html>
{%load static%}
<html lang="en">
<title>INGRESAR</title>
<head>
  <style type="text/css">
  body {
          background:url({% static 'cheques/img/fondo.jpg' %}) repeat 0 0;
   }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>{%block title%}{%endblock title%}</title>
  <!-- Favicon-->
  <link rel="icon" href="%static "favicon.ico"%" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="{% static "plugins/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="{% static "plugins/node-waves/waves.css" %}" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="{% static "plugins/animate-css/animate.css" %}" rel="stylesheet" />

  <!-- Morris Chart Css-->
  <link href="{% static "plugins/morrisjs/morris.css" %}" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="{% static "css/style.css"%}" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="{%static "css/themes/all-themes.css"%}" rel="stylesheet" />
</head>

<br><br>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Control de <b>CHEQUES</b></a>
            <small>NebrijoDev 2019</small>
        </div>
        <div class="card">
            <div class="body">
              {%if form.errors%}
              <p style="color:red;">Hubo un error en el Usuario/Contraseña</p>
              {%endif%}
                <form id="sign_in" method="POST">
                  {% csrf_token %}
                    <div class="msg">Iniciar Sesion</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button  align="center" class="btn btn-block mt-5 bg-red waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
